<div class="wrap site-footer" style="padding-top:0">
  <p class="muted site-footer-content">
    NamelessUnSee - transparent-source, consent-gated forensic image host.<br>
    <a href="/tos">Terms</a> - <a href="/privacy">Privacy</a> -
    <a href="<%= typeof sourceUrl !== 'undefined' ? sourceUrl : 'https://github.com/NanashiTheNameless/NamelessUnSee' %>">Source</a> -
    <a href="/acknowledgements">Acknowledgements</a> -
    <a href="/license">Licence (NNCL 1.4)</a>
  </p>
</div>
</body>
</html>
